*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    text-decoration: none;
    position: fixed;
    top:0; left: 0; right: 0;
    background: #422815;
    box-shadow: 0px 0px 3px 1px rgba(66, 40, 21, 0.4);
    padding: 12px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul{
    list-style: none;

}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-transform: uppercase;

    font-weight: bold;
    font-size: 15px;
    padding-left: 70px;
    color: #FFF4EB;
    display: block;

}
header .navbar ul li a:hover{
    color: #D16210;

}

header .navbar ul li:focus-within > ul,

header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}
header label{
    text-transform: uppercase;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
    font-size:15px;
    color: #FFF4EB;
    cursor: pointer;
    display:none;
}

@media(max-width:991px){
    header{
        padding:13px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right:0;
        background: #422815;
        border-top:1px solid rgba(0,0,0,.1);
        display:none;
        box-shadow: 0px 0px 3px 1px rgba(66, 40, 21, 0.4);
    }
    header .navbar ul li{
        width: 100%;
        padding: 30px 0px;
        text-align: left
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}
