html{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
    padding: 0;

}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}
.right{
    background-color: #D1DCE6;
    display: flex;
}
.left{
    background-size: cover;
    display: flex;
    text-align: center;
    }
.container {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    vertical-align: middle;
}
.left .container img.photo_of_me{
    width: 215px;
}
.column{
    height: 95vh;
}




.exp{
    background-color: #D1DCE6;

}
.edu{
    height: 70vh;
    background-size: cover;
}
footer{
    height: 60px;
    background-color: #D1DCE6;
}
/*-------------*WELCOME------------*/
h1{
    font-family: 'Nanum Myeongjo', serif;
    border-bottom: 1px solid;
    margin: auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
}
h2{
    font-weight: lighter;
    font-family: 'Nanum Myeongjo', serif;
}

.about_me{
    text-align: center;
    line-height: 25px;
    padding: 18% 18% 150px;
}
.about_me h2{
    font-size: 3rem;
    margin-bottom: 50px;
}
button{
    margin-top: 60px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    /*border-radius:42px;*/
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:17px;
    font-weight:bold;
    padding:11px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
button:hover {
    background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}
button:active {
    position:relative;
    top:1px;
}
.left button{
    margin-top: 20px;
}

.left .container p{
    font-size: 1.3rem;

}

.left .container h2{
    font-size: 2rem;
}
.welcome{
    margin-top: -15px;
}
.left .container .social_media{
    display: flex;
    justify-content: center;
}
a img{
    margin: 30px 17px ;
    height: 40px;
}

/*--------------SKILLS-------------------*/
.skills .skills-title h1{
    border-bottom: none;
    justify-content: left;
    text-align: left;
    width: 100%;
}
.skills .skills-title{
    padding-left: 15%;
}
.skills{
    padding-top: 70px; 
    padding-bottom: 100px;
    background-size: cover;
    display: flex;
}
.skills .skills-list-col{
    padding-left: 15%;
}
.skills .skills-list-col h4{
    font-size: 1.5rem;
    font-weight: bolder;
}
.skills .skills-list-col li{
    list-style: none;
    padding-top: 1.5rem;


}
.skills .skills-list-col li p{
    display: inline-block;
    padding-left: 25px;
    vertical-align: middle;
}
.skills .skills-list-col li img{
    vertical-align: middle;
}

/*-------------------EDU-----------------*/